<div id="post-content">
    <div id="feed">
        <h2 id="head"><%= @examnote.topic %></h2>
        <div class="row">
            <% @examnote.notes.each do |note| %>
              <div class="col-xs-6 col-md-3">
                <%= image_tag(note.page.url,class:"materialboxed thumbnail",width:"250")%>
              </div>
            <%end%>
        </div>
    <ul class="collapsible popout" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Tips</div>
          <div class="collapsible-body"><p><%=simple_format(@examnote.tips)%></p></div>
        </li>
     </ul>
    <%= link_to "Edit",edit_examnote_path(@examnote),class:"btn btn-primary"%>
    <%= link_to "Delete",@examnote,method: :delete,data:{confirm:"Are you sure?"},class:"btn btn-danger"%>
    <%= link_to "Back",:back,class:"btn btn-info"%>
    <br>
</div>
<br>
<div id="feed">
    <div id="comments">
        <h4 id="head"><%= pluralize @examnote.ecomments.count,"Comment" %></h4>
        <%=render :partial => @examnote.ecomments%>
        <h3>Add Comment</h3>
        <%=simple_form_for([@examnote,Ecomment.new]) do |f|%>
            <%=f.input :body%>
            <br>
            <%=f.submit "Comment"%>
        <% end%>
    </div>
</div>
