
<div class="post_wrapper">
	<%=form_tag(practicals_path,method: :get) do%>
		<%=text_field_tag :search,params[:search],class:"form-control",placeholder:"Search Practicals"%>
		<br>
		<%=submit_tag("Search",class:"button")%>
		<br>
		<br>
	<% end%>
	<%if @query.present?%>
		<p><strong><%=@practicals.count%></strong> results found for <strong><%=@query %></strong></p>
		<br>
		<br>
	<%end %>
	<% @practicals.each do |practical|%>
		<div id="feed">
			<h4 id="head"><%=link_to practical.aim,practical%></h4>
			<div class="slider">
                <ul class="slides">
                 <% practical.images.each do |image| %>
                  <li>
                    <%= image_tag(image.sheet.url)%> <!-- random image -->
                  </li>
                <%end%>
                </ul>
            </div>
			 <ul class="collapsible popout" data-collapsible="accordion">
			    <li>
			      <div class="collapsible-header"><i class="material-icons">whatshot</i>Description</div>
			      <div class="collapsible-body"><p><%=simple_format(practical.description)%></p></div>
			    </li>
			 </ul>
			 <p id="time">Submitted <strong><%=time_ago_in_words(practical.created_at)%></strong> ago</p>

		</div>
	<%end%>
</div>






