<div id="bottom">
	<h1><%= @practical.aim %></h1>
	<h2><%= @practical.subject %></h2>
	<p><%=@practical.description %></p>

	<%= link_to "Edit",edit_practical_path(@practical),class:"btn btn-primary"%>
	<%= link_to "Delete",@practical,method: :delete,data:{confirm:"Are you sure?"},class:"btn btn-danger"%>
	<%= link_to "Back",:back,class:"btn btn-info"%>
	<br>

	<%=@practical.comments.count%>
	Comments
	<%=render :partial => @practical.comments%>
	<%=simple_form_for([@practical,Comment.new]) do |f|%>
		<%=f.input :body%>
		<br>
		<%=f.submit%>
	<% end%>
</div>
<div class="flipbook-viewport" id="gallery">
	<div class="container">
	<div class="flipbook">
	<% @practical.images.each do |image| %>
			<div style="background-image:url(<%=image.sheet.url%>)"></div>
	<% end%>
	</div>
	</div>
</div>


<script type="text/javascript">

function loadApp() {

	// Create the flipbook

	$('.flipbook').turn({
			// Width

			width:922,

			// Height

			height:600,

			// Elevation

			elevation: 50,
			
			// Enable gradients

			gradients: true,
			
			// Auto center this flipbook

			autoCenter: true

	});
}

// Load the HTML4 version if there's not CSS transform

yepnope({
	test : Modernizr.csstransforms,
	yep: ['turn.js'],
	nope: ['turn.html4.min.js'],
	both: ['basic.css'],
	complete: loadApp
});

</script>

