<div id="post-content">
	<div id="feed">
		<h2 id="head"><%= @practical.aim %></h2>
	    <div class="row">
		    <% @practical.images.each do |image| %>
			  <div class="col-xs-6 col-md-3">
			    <%= image_tag(image.sheet.url,class:"materialboxed thumbnail",width:"250")%>
			  </div>
			<%end%>
		</div>
	<ul class="collapsible popout" data-collapsible="accordion">
	    <li>
	      <div class="collapsible-header"><i class="material-icons">whatshot</i>Description</div>
	      <div class="collapsible-body"><p><%=simple_format(@practical.description)%></p></div>
	    </li>
	 </ul>
	<%= link_to "Edit",edit_practical_path(@practical),class:"btn btn-primary"%>
	<%= link_to "Delete",@practical,method: :delete,data:{confirm:"Are you sure?"},class:"btn btn-danger"%>
	<%= link_to "Back",:back,class:"btn btn-info"%>
	<br>
</div>
<br>
<div id="feed">
	<div id="comments">
		<h4 id="head"><%= pluralize @practical.comments.count,"Comment" %></h4>
		<%=render :partial => @practical.comments%>
		<h3>Add Comment</h3>
		<%=simple_form_for([@practical,Comment.new]) do |f|%>
			<%=f.input :body%>
			<br>
			<%=f.submit%>
		<% end%>
	</div>
</div>