<div class="container">
		<h1 class="align-center">bitNotes</h1>
		<div class="gallery">
			<% @practical.images.each do |image| %>
				<%= image_tag(image.sheet.url(:medium))%>
			<% end%>
		</div>
</div>
<script>
	$(function(){
		var $gallery = $('.gallery a').simpleLightbox();
		
		$gallery.on('show.simplelightbox', function(){
			console.log('Requested for showing');
		})
		.on('shown.simplelightbox', function(){
			console.log('Shown');
		})
		.on('close.simplelightbox', function(){
			console.log('Requested for closing');
		})
		.on('closed.simplelightbox', function(){
			console.log('Closed');
		})
		.on('change.simplelightbox', function(){
			console.log('Requested for change');
		})
		.on('next.simplelightbox', function(){
			console.log('Requested for next');
		})
		.on('prev.simplelightbox', function(){
			console.log('Requested for prev');
		})
		.on('nextImageLoaded.simplelightbox', function(){
			console.log('Next image loaded');
		})
		.on('prevImageLoaded.simplelightbox', function(){
			console.log('Prev image loaded');
		})
		.on('changed.simplelightbox', function(){
			console.log('Image changed');
		})
		.on('nextDone.simplelightbox', function(){
			console.log('Image changed to next');
		})
		.on('prevDone.simplelightbox', function(){
			console.log('Image changed to prev');
		})
		.on('error.simplelightbox', function(e){
			console.log('No image found, go to the next/prev');
			console.log(e);
		});
	});
</script>

	<h1><%= @practical.aim %></h1>
	<h2><%= @practical.subject %></h2>
	<p><%=simple_format(@practical.description) %></p>

	<%= link_to "Edit",edit_practical_path(@practical),class:"btn btn-primary"%>
	<%= link_to "Delete",@practical,method: :delete,data:{confirm:"Are you sure?"},class:"btn btn-danger"%>
	<%= link_to "Back",:back,class:"btn btn-info"%>
	<br>

	<%=@practical.comments.count%>
	Comments
	<%=render :partial => @practical.comments%>
	<%=simple_form_for([@practical,Comment.new]) do |f|%>
		<%=f.input :body%>
		<br>
		<%=f.submit%>
	<% end%>
</div>
