<!DOCTYPE html>
<html>
<head>
  <title>bitNotes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon'%>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<header class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div id="logo" class="navbar-brand"><%= link_to "bitNotes",root_path %></div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
        				<ul class="nav navbar-nav navbar-left">
        					<li><%= link_to "About",abouts_path%>
					            <li><%= link_to 'Practicals', practicals_path %></li>
								<li><%= link_to 'ExamNotes', examnotes_path %></li>
								<li><%= link_to 'Thesis', thesiss_index_path %></li>
					      
					            <li><%= link_to 'Colleges', colleges_path %></li>
								<li><%= link_to 'Subjects', subjects_path %></li>
					      
					    </ul>
						<ul class="nav navbar-nav navbar-right">
							<li><%= link_to(new_practical_path) do %>
									<span class="glyphicon glyphicon-plus">Practical</span>
								<% end %>	
							</li>
							<li><%= link_to(new_examnote_path) do %>
									<span class="glyphicon glyphicon-plus">Examnote</span>
								<% end %>	
							</li>
							<li><%= link_to(new_thesiss_path) do %>
									<span class="glyphicon glyphicon-plus">Thesis</span>
								<% end %>	
							</li>
							<li><%= link_to(new_college_path) do %>
									<span class="glyphicon glyphicon-plus">College</span>
								<% end %>	
							</li>
							<li><%= link_to(new_subject_path) do %>
									<span class="glyphicon glyphicon-plus">Subject</span>
								<% end %>	
							</li>
							<li><%= link_to("/auth/facebook") do %>
									<span class="glyphicon glyphicon-log-in"></span>
								<% end %>	
							</li>
							
						</ul>

        </nav>
      </div>
    </div>
   
  </header>

	<div id="main_content" class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>

			<div id="content" class="col-md-9 center-block">
				
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
